.nav {
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px #0003;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-left .menu_icon {
    width: 22px;
    margin-right: 25px;
}

.nav-left .logo {
    width: 138px;
}

.nav-middle .search_bar {
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}